<?xml version="1.0"?>

<model>
  <name>shopping_cart</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Albert Compte</name>
    <email>albert.compte@estudiantat.upc.edu</email>
  </author>
  
  <author>
    <name>Aurelio Negri</name>
  </author>
  
  <author>
    <name>Lukas Hageman</name>
  </author>

  <description>
    An automatic shopping cart for the CIR project.
  </description>

</model>
